* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(139, 139, 139);
}

.google {
    width: 1000px;
    height: 950px;
    background-color: white;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.google-footer {
    background-color: rgb(216, 216, 216);
    display: flex;
    padding: 20px;
    font-size: 20px;
    margin-top: 500px;
}

.google-footer p {
    margin-left: 30px;
}

.google-header {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.google-header img {
    width: 50px;
    margin-left: 20px;
    border-radius: 50%;
    border: solid black 1px;
}




.fox {
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
}

.main-footer {
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
    padding: 25px;
    font-size: 25px;
    margin-top: 200px;
}

.menuicons {
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;
}


.menuicons img {
    padding: 25px;
    background-color: rgb(37, 201, 193);
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
}

.class-hidden {
    margin-top: 10px;
    height: 80px;
    text-align: center;
    align-items: center;
    background-color: rgb(44, 226, 217);
    padding: 18.5px;
    padding-left: 30px;
    font-size: 35px;
    font-weight: bold;
    width: 0px;
    align-items: center;
    visibility: hidden;
}

.class-visible {
    margin-top: 10px;
    height: 80px;
    text-align: center;
    align-items: center;
    background-color: rgb(44, 226, 217);
    padding-top: 18.5px;
    font-size: 35px;
    font-weight: bold;
    width: 200px;
    align-items: center;
    visibility: visible;
    /*transition muda a propriedade informada no tempo informado*/
    transition: width 0.1s;
    cursor: pointer;

}


.menu {
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;

}

.menu-about-info {
    height: 60px;
    background-color: rgb(48, 48, 48);
    color: white;
    text-align: center;
    align-items: center;
    line-height: 60px;
    font-size: 20px;
}


.main-google{
    margin-top:200px;
}

.google-title{
    font-size:80px;
}

.search{
    font-size:15px;
    width:500px;
    height: 40px;
    border-radius: 20px;
    border: solid rgb(212, 210, 210) 1px;
    padding:20px;
}

.google-buttom{
    border-radius: 2px;
    border-style:none;
    margin:20px;
    padding:6px;
    width:150px;
    color:rgb(94, 94, 94);
} 

.blue{
    color:rgb(0, 153, 255);
}

.red{
    color:rgb(233, 83, 83);
}

.yellow{
    color:rgb(236, 181, 2);
}

.green{
    color:green;
}

.languages-div{
    display:flex;
    width:400px;
    margin:auto;
    margin-top:20px;
    text-align: center;
    align-items: center;
}